body{
    width: 100%;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Papyrus;
    background-color: cadetblue;
    width: 50%;
    margin-left: 25%;
}
img{
    width: 50%;
    height: 60vh;
    justify-content: center;
    align-items: center;

    margin-left: 25%;
    border-radius: 15px;
}
button{
    width: 15%;
    height: 40px;
    margin-left: 25%;
    padding: 0;
    justify-content: space-between;
    border-radius: 0px 10px;
   font-family: Papyrus;
   font-weight: bold;
}
#next{
  margin-left: 20%; 
}
#auto{
    margin-left: 25%;
}
button:hover{
    background-color: cadetblue;
    transition: 0.4s;
}
button:active{
    background-color: blue;
}
.validator{
    margin-left: 40%;
    width: 20%;
  
    
}
