body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
 
  align-items: center;
  display: flex;
  justify-content: center;
    
}
#myform{
    margin-top: 10%;
    margin-bottom: 40%;
    width: auto;
    height: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(70px);
    padding: 20px 60px;
    border-radius: 15px;
    border-color: transparent;
    text-align: right;
}
.warning {
    color:red;
    
    
}
#FirstName{
    height:30px;
}
#FirstName:hover{
    border-radius: 15px;
    border-color: brown;
    
    transition: 0.7s;
    
}
#LastName{
    height:30px;
}
#LastName:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#Email{
    height:30px;
   
}
#Email:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#PhoneNumber{
    height:30px;
}
#PhoneNumber:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#Username{
    height:30px;
}
#Username:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#Password{
    height:30px;
}
#Password:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#Adress{
    height:30px;
}
#Adress:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#City{
    height:30px;
}
#City:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#ZipCode{
    height:30px;
}
#ZipCode:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#Comments{
    height:30px;
}
#Comments:hover{
    border-radius: 15px;
    border-color: brown;
    transition: 0.7s;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 0;
    background-color: transparent;
    text-align: center;
   
}

#footer p {
    margin: 0;
}

#footer img {
    vertical-align: middle;
}
.page {
    position: relative;
    min-height: 100vh; 
    padding-bottom: 0px; 
}
#submit{
    width: 70px;
    height: 30px;

}
#submit:hover{
    transition: 0.3s;
background-color: rgb(127, 111, 107);
}
#submit:active{
 
background-color: rgb(74, 67, 66);
}
