body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    overflow: hidden;
}
h1{
    font-family: "Dancing Script", cursive;
    font-size:xxx-large;
    text-align: center;
}
p {
    text-align: center;
    font-size: large; 
}
img{
    padding-top: 10px;
    width: 50%;
    height: auto;
    margin-left: 25%;
    border-radius: 30px;
}
.list {
    display: flex;
    justify-content: center;
    gap: 10%;
    font-size: large;
    background-color: antiquewhite; 
}
